body {
    background: #222;
    color: #eee;
    font-size: 15px;
}

a {
text-decoration: none;
color: pink;
}

.current {
    font-weight: bold;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

main {
    padding: 2em 5%;
    display: flex;
    flex-wrap: wrap;
}

p {
    margin-top: 1em;
}

footer {
    padding: 20px;
    background: #000;
    color: #fff;
    clear: both;

}

.row {
max-width: 1200px;
width: 90%;
margin: 0 auto;
}

header {
background: #494949;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

header ul li {
list-style-type: none;
display: inline-block;
margin-left: 1em;
}

.strategy {
    color: green;
}

.logic {
    color: yellow;
}

.action {
    color: blueviolet;
}

.point {
    color: red;
}

.fps {
    text-decoration: line-through;
}

.platform {
    text-decoration: underline
}

.horror {
    text-decoration-color: blue;
    text-decoration-style: wavy;
}

.chess {
    color: limegreen;
}

#best {
    font-size: 1.1em;
    margin-bottom: 5px;
}

li {
    padding-bottom: 0.3em;
}

.nick {
    font-style: italic;
}

#content {
    background: #fff;
    color: #222;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%;
}

#content, aside {
    padding: 2rem;
}

p:first-child {
    margin-top: 0;
}

aside {
    background: #ccc;
    color: #000;
    min-width: calc(250px - 4rem);
}

.alignleft {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.alignright {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.clear {
    clear: right;
}

.clearboth {
    clear: both;
}

.aligncenter {
    display: block;
    margin: 1em auto;
}


/* One page layout */

#one-page main {
    display: block;
    padding: 0;
}

.white {
    background: white;
    color: black;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

#one-page main section {
    padding: 5rem 5%;
}

#one-page section h1 {
    text-align: center;
    margin-bottom: 1em;
}

#hello .content {
    column-count: 3;
    column-gap: 2rem;
    max-width: unset;
}

section .content {
    max-width: 750px;
    margin: 0 auto;
}

#one-page {
    padding-top: 74px;
}

#one-page header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 6px 6px -4px rgba(0,0,0,0.2);
}

.violet {
    background: #ea80fc;
    color: black;
}

.row2 {
    column-count: 2;
    column-gap: 2rem;
    max-width: unset;
}

.content:after {
	content: "";
	display: block;
	clear: both;
}

.padding10 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.larger {
    font-size: 1.5em;
}